 @model IEnumerable<WikinimousMVC.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<!--
<div class="container">
@foreach(var post in Model) {
  <div class="row">
      <h2>@Html.DisplayFor(modelItem => post.Title)</h2>
      <p>@Html.DisplayFor(modelItem => post.Content)</p>
  </div>
}
</div> -->

Hello